body
{
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
	color: black;
	font-weight:300;
  background-color: #fff;
}





.container {
  position: relative;
  width: 1000px;
  border: 0px;
  margin-top: 23%;
  margin-left: 10%;
  /* border-radius: 15px; */
  background-color: rgba(80, 220, 166, 0.377);
  color: #fff;
}

.ranking {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 1000px;
  height: 200px;
  display: block;
  overflow: hidden;
  /* background-color: rgba(80, 220, 166, 0.377); */
}

#window, #window2, #window3 {
  position: relative;
  float: left;
  margin: 0px;
  width: 25%;  
  height: 100%;
  background-color: rgba(80, 220, 166, 0.377);
}

#window, #window2 {
 margin-right: 124px;
}

